@model WebBanHangOnline.ModelView.RegisterVM

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="/images/pngtree-hydrating-skin-care-beauty-makeup-banner-image_262326.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">SHOP MỸ PHẨM</h2>
                        <ul>
                            <li>
                                <a href="/">Trang chủ </a>
                            </li>
                          
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-register-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div style="text-align:center" class="col-lg-6 pt-10 pt-lg-0">
                    <form asp-action="DangKyTaiKhoang">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="login-form">
                            <h4 class="login-title">Đăng Ký</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Họ Tên*</label>
                                    <input type="text" placeholder="Họ Tên" asp-for="FullName">
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <label>Email*</label>
                                    <input type="email" placeholder="Email" asp-for="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <label>Số điện thoại*</label>
                                    <input type="tel" asp-for="Phone" placeholder="Số điện thoại">
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>

                                <div class="col-md-12">
                                    <label>Address*</label>
                                    <input type="text" asp-for="Address" placeholder="Address">
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Password</label>
                                    <input type="password" asp-for="Password" placeholder="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Confirm Password</label>
                                    <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0">Register</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<hr />



